* {
	box-sizing: border-box;
}

body {
	margin: 30px;
}

.module-1 {
	width: 100%;
}

.box {
	width: 32%;
	margin-inline: 0.5%;
	background-color: lightgray;
	border: 1px solid black;
	position: relative;
	display: inline-block;

}

.section-title {
	width: 150px;
	height: 60px;
	text-align: justify;
	position: relative;
	top: -1px;
	right: -1px;
	float: right;
	border: 1px solid black;
}

#title-1{
	background-color: pink;
	color: black;
}

#title-2{
	background-color: red;
	color: white;
}

#title-3{
	background-color: lightyellow;
	color: black;
}

h1 {
	font-family: opensans, sans-serif;
	font-size: 28px;
	font-weight: 800;
	text-align: center;
	margin-block: 50px;
}

h2 {
	font-family: opensans, sans-serif;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
}


p {
	font-family: opensans, sans-serif;
	font-wieght: 500;
	padding: 10px;
	margin-top: 80px;
}



/********** Desktop **********/
@media (min-width: 992px) {
	

}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
	.box {
		width: 47%;
		margin-inline: 1.3%;
		margin-bottom: 20px;
	}

	#box-3 {
		width: 97%;
	}
}

/********** Mobile **********/
@media (max-width: 767px) {
	.box {
		width: 100%;
		margin-bottom: 28px;
	}     
}
